<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="utils.js"></script>
        <script src="index.js"></script>
        <script nonce="<%= nonce %>" src="https://accounts.google.com/gsi/client" async></script>
    </head>
    <body>
        <main>
            <div class="container">
                
                <div id="g_id_onload"
                    data-client_id="1010536116065-j0hv8210j5eer4apjg8tsv9dhof5rj44.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="onSignIn"
                    data-nonce=""
                    data-auto_prompt="false">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="outline"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left">
                </div>

                <form id="login">
                    <div>
                        <label for="username">Username</label>
                        <input type="text" id="username">
                    </div>
                    <div class="emailField hidden">
                        <label for="email">Email</label>
                        <input type="text" id="email">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password">
                    </div>
                    <button type="submit">Submit</button>
                    <button type="button" id="loginButton" class="hidden">Login</button>
                    <button type="button" id="registerButton">Register</button>
                    <div id="error"></div>
                </form>
            </div>
        </main>
    </body>
</html>