<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
        <script src="utils.js"></script>
        <script src="/passwordRules.js" nonce="<%= nonce %>"></script>
        <script src="index.js"></script>
        <script nonce="<%= nonce %>" src="https://accounts.google.com/gsi/client" async></script>
    </head>
    <body>
        <main class="column">
            <form id="login" class="column">
                <div id="g_id_onload"
                    data-client_id="1010536116065-j0hv8210j5eer4apjg8tsv9dhof5rj44.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="onSignIn"
                    data-nonce="<%= nonce %>"
                    data-auto_prompt="false">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="outline"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left">
                </div>
                <div class="usernameField hidden">
                    <label for="username">Username</label>
                    <input type="text" id="username">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password">

                    <ul id="rules" class="hidden">
                        <li id="length">8–16 Zeichen</li>
                        <li id="upper">Mind. ein Großbuchstabe (A–Z)</li>
                        <li id="lower">Mind. ein Kleinbuchstabe (a–z)</li>
                        <li id="digit">Mind. eine Zahl (0–9)</li>
                        <li id="special">Mind. ein Sonderzeichen (!, @, #, ...)</li>
                        <li id="nowhite">Keine Leerzeichen</li>
                    </ul>
                </div>
                <button type="submit" class="center">Submit</button>
                <div id="error"></div>
                <div class="hidden column">
                    Already have an account?
                    <button type="button" id="loginButton">Login</button>
                </div>
                <div class="column">
                    No account yet?
                    <button type="button" id="registerButton">Register</button>
                </div>
            </form>
        </main>
    </body>
</html>