<!DOCTYPE html>
<html>
    <body>
        <head>
            <link rel="stylesheet" href="main.css">
            <script src="utils.js"></script>
            <script src="profile.js"></script>
        </head>
        <main class="column">
            <form id="profiledata" class="column">
                <div>
                    <label for="username">Username</label>
                    <input type="text" id="username">
                </div>
                <div class="emailField">
                    <label for="email">Email</label>
                    <input type="text" id="email">
                </div>
                <button type="submit">Update</button>
                <button type="button" id="logout">Logout</button>
                <div id="error"></div>
            </form>
        </main>
    </body>
</html>