* {
    box-sizing: border-box;
}

#error {
    color: red;
    min-height: 1em;
}
#success {
    color: rgb(2, 117, 0);
    min-height: 1em;
}

main {
    width: 50rem;
    margin: 2rem auto;
    max-width: 90%;
}

form {
    margin: 1.5rem -0.5rem -0.5rem;
}

form > * {
    margin: 0.5rem;
}

label {
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px black solid;
    border-radius: 0.3rem;
    cursor: pointer;
}

button[type=submit] {
    background-color: black;
    color: white;
}

button[type=button] {
    margin-top: 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden {
    display: none;
}

.g_id_signin {
    max-width: 100%;
}